.eventDetail-left, .eventDetail-right {
    width: 40%;
}

.basicDetail{
    width: 50%;
}

.eventDetail-left{
    float: left;
}
.eventDetail-right{
    float:right;
}

.display{
    padding: 15px;
    margin: 10px;
}

.alerts{
    width:60vw;
    margin: auto;
    padding: 3px;
    text-align: center;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #97b498;
}

.flex-container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.attendeeHeader{
    display: inline-block;
}

.attendeeRight{
    float: right;
}

.scrollDetail{
    height: 30vh;
    overflow: auto;
}


.detailActionArea {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15vh;
  }